In [13]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import statsmodels.api as sm
import seaborn as sns
import japanize_matplotlib
%matplotlib inline

In [14]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
sample = pd.read_csv('sample.csv',header = None)
test.index = pd.to_datetime(test['datetime'])
train.index = pd.to_datetime(train['datetime'])
train.head()

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
datetime,,,,,,,,,,,,
2013-11-18,2013-11-18,90,月,0,厚切りイカフライ,NaN,NaN,NaN,NaN,快晴,--,19.8
2013-11-19,2013-11-19,101,火,1,手作りヒレカツ,NaN,NaN,NaN,NaN,快晴,--,17.0
2013-11-20,2013-11-20,118,水,0,白身魚唐揚げ野菜あん,NaN,NaN,NaN,NaN,快晴,--,15.5
2013-11-21,2013-11-21,120,木,1,若鶏ピリ辛焼,NaN,NaN,NaN,NaN,快晴,--,15.2
2013-11-22,2013-11-22,130,金,1,ビッグメンチカツ,NaN,NaN,NaN,NaN,快晴,--,16.1

In [46]:
new_train=train['2014-4-1':].copy()

In [47]:
new_train['year'] = new_train['datetime'].apply(lambda x : x.split('-')[0]) 
new_train['month'] = new_train['datetime'].apply(lambda x : x.split('-')[1])

In [48]:
test['year'] = test['datetime'].apply(lambda x : x.split('-')[0])
test['month'] = test['datetime'].apply(lambda x : x.split('-')[1])

In [49]:
test['year'] = test['year'].astype(np.int)
test['month'] = test['month'].astype(np.int)

In [50]:
new_train.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 122 entries, 2014-04-01 to 2014-09-30
Data columns (total 14 columns):
datetime         122 non-null object
y                122 non-null int64
week             122 non-null object
soldout          122 non-null int64
name             122 non-null object
kcal             110 non-null float64
remarks          18 non-null object
event            9 non-null object
payday           6 non-null float64
weather          122 non-null object
precipitation    122 non-null object
temperature      122 non-null float64
year             122 non-null object
month            122 non-null object
dtypes: float64(3), int64(2), object(9)
memory usage: 14.3+ KB

In [51]:
new_train['curry'] = train['name'].apply(lambda x : 1 if x.find("カレー") >=0 else 0)
test['curry'] = test['name'].apply(lambda x : 1 if x.find("カレー") >=0 else 0)

In [52]:
new_train['chicken'] = new_train['name'].apply(lambda x : 1 if x.find("唐揚げ") >=0 else 0)
test['chicken'] = test['name'].apply(lambda x : 1 if x.find("唐揚げ") >=0 else 0)

In [53]:
def happy(x):
    #xがお楽しみメニューか否か
    if x == 'お楽しみメニュー':
        return 1
    else:
        return 0

In [54]:
new_train['fun'] = new_train['remarks'].apply(lambda x : happy(x))
test['fun'] = test['remarks'].apply(lambda x : happy(x))

In [55]:
trainX = new_train[['year','month', 'curry', 'fun','temperature','chicken']]
testX = test[['year','month', 'curry', 'fun','temperature', 'chicken']]

In [56]:
y = new_train['y']

In [57]:
from sklearn.linear_model import LinearRegression as LR

In [58]:
model = LR()

In [59]:
model.fit(trainX,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [60]:
pred = model.predict(testX)

In [61]:
sample[1] = pred

In [42]:
sample.to_csv('snbmit9.csv',index = None, header = None)